<div class="container-fluid">

  <nav class="navbar navbar-expand-lg navbar-light bg-light">

    <div >
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/" >Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="qrcode">QRCode</a>
        </li>
        <!-- <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="qrcode">KHQRCode</a>
        </li> -->
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="payment">Payment</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="scan">Scan</a>
        </li>
      </ul>
    </div>
  </nav>

  <router-outlet></router-outlet>


</div>



